@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


button {
    padding: 10px;
    background-color: var(--black);
    border: 1px solid var(--gray_900);
    width: 100%;
    height: 48px;
    color: #000;
    border-radius: 10px;
}

button:active {
    opacity: .8;
}

input {
    padding: 10px;
    border: 1px solid var(--gray_900);
    height: 48px;
    border-radius: 10px;
    outline: var(--gray_900);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0 5px;
}

select {
    padding: 10px;
    border: 1px solid var(--gray_900);
    height: 48px;
    border-radius: 10px;
}

ul, li {
    list-style: none;
}